
# Local environment files
*.local
.env
.DS_Store


# Log files
*.log
# Local Netlify folder
.netlify


# Ignore any "logs/" subdirectory
**/logs/

# redis: Ignore "dump.rdb" anywhere in the project
**/dump.rdb
